<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }} {% if current_tags %}tagged "{{ current_tags | join: ', ' }}"{% endif %} {% if current_page != 1 %}Page {{ current_page }}{% endif %} {% unless page_title contains shop.name %}- {{ shop.name }}{% endunless %}{% endif %}</title>

  {% if template contains 'list-collections' %}
    <meta name="description" content="Product collections from {{ shop.name }} - Page {{ current_page }}" />
  {% elsif page_description != '' %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% include 'social-meta-info' %}

  {% if collection.previous_product %}
    <link rel="prev" href="{{ collection.previous_product }}" />
  {% endif %}
  {% if collection.next_product %}
    <link rel="next" href="{{ collection.next_product }}" />
  {% endif %}

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Stylesheets -->
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ 'theme-settings.scss.css' | asset_url | stylesheet_tag }}

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  <link rel="canonical" href="{{ canonical_url }}" />

  <!-- Custom Fonts -->
  <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_typeface_method == "google_webfonts" %}{{ settings.logo_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.headline_typeface_method == "google_webfonts" %}{{ settings.headline_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.nav_typeface_method == "google_webfonts" %}{{ settings.nav_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.regular_typeface_method == "google_webfonts" %}{{ settings.regular_google_webfont_font }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />

  {% if template contains 'customer' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    <!--[if lt IE 7]>
      {{ 'json2.js' | shopify_asset_url | script_tag }}
    <![endif]-->
  {% endif %}

  <!-- jQuery and jQuery fallback -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='{{ "jquery.min.js" | asset_url }}'>\x3C/script>")</script>
  {% include 'optimizely-test-variables' %}
  <script src="//cdn.optimizely.com/js/3383601486.js"></script>
  {% include 'optimizely-test-replacements' %}
  <script type='application/javascript' src="{{ 'fastclick.js' | asset_url }}"></script>
  <script>
  $(function() {
      FastClick.attach(document.body);
  });
  </script>
  {{ 'api.jquery.js' | global_asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  {% if settings.product_slideshow_animation == 'zoom' %}{{ "cloudzoom.js" | asset_url | script_tag }}{% endif %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <!--[if lte IE 8]>
    {{ 'ie.css' | asset_url | stylesheet_tag }}
    {{ 'skrollr.ie.js' | asset_url | script_tag }}
  <![endif]-->

  {{ content_for_header }}

  {% include 'facebook-scripts' %}

  {% comment %}Adwords click to call script{% endcomment %}
  <script type="text/javascript">
  (function(a,e,c,f,g,b,d){var h={ak:"1001030056",cl:"ZxSpCJurr2MQqIOq3QM"};a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[f]||(a[f]=h.ak);b=e.createElement(g);b.async=1;b.src="//www.gstatic.com/wcm/loader.js";d=e.getElementsByTagName(g)[0];d.parentNode.insertBefore(b,d);a._googWcmGet=function(b,d,e){a[c](2,b,h,d,null,new Date,e)}})(window,document,"_googWcmImpl","_googWcmAk","script");
  </script>

</head>

{% if template contains "index" %}
  {% assign feature_image = true %}
{% elsif template contains "blog" and settings.slideshow_blog_enabled %}
  {% assign feature_image = true %}
{% elsif template contains "contact" and settings.slideshow_contact_enabled %}
  {% assign feature_image = true %}
{% else %}
  {% assign feature_image = false %}
{% endif %}

{% assign body_class = template | replace: '.', '-' | handle %}
{% if template contains 'collection.' %}
  {% assign body_class = body_class | append: ' collection' %}
{% endif %}
{% comment %}{% if template contains 'page.press' %}
  {% assign body_class = 'page-wide' %}
{% endif %}{% endcomment %}
{% if feature_image %}
  {% assign body_class = body_class | append: ' feature_image'  %}
{% endif %}

{% if template contains 'product' %}
  {% assign body_class = 'product-new_layout' %}
{% endif %}

<body class="{{ body_class }}{% if collection.handle %} {{ collection.handle }}{% endif %}">

  {% include 'mm-analytics' %}

  {% if template contains "index" and settings.promo_text != blank %}
    <div class="promo_banner">
      {{ settings.promo_text }}
    </div>
  {% endif %}

  {% comment %}
  I believe opening `div` below gets `mm-page` class added via javascript
  {% endcomment %}
  <div>

    {% include 'hidden' %}

    {% comment %}
    Header
    {% endcomment %}
    {% include 'header' %}

    {% if template == 'collection' or template contains 'double-collection' %}
      {% include 'collection-mobile-banner' %}
    {% endif %}

    {% unless feature_image %}
      <div class="container main content">
    {% endunless %}

    {% if template contains 'list-collections' %}
      {% include 'collection-listing' %}
    {% elsif template contains 'index' or template contains 'press' %}
      {% comment %}
      Template
      {% endcomment %}
      <main id="template">
        {{ content_for_layout }}
      </main><!-- #template -->

    {% else %}
      {{ content_for_layout }}
    {% endif %}

    </div>

    {% include 'footer' %}

    <div id="search" class="animated">
      <div class="container">
        <div class="ten columns offset-by-three center">

          <form action="/search">
            {% if settings.search_option != 'everything' %}
              <input type="hidden" name="type" value="product" />
            {% endif %}
            <div class="search-close ss-icon">&#x2421;</div>
            <span class="icon-search search-submit"></span>
            <input type="text" name="q" placeholder="Search {{ shop.name }}..." value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
          </form>
        </div>
      </div>
    </div><!-- #search -->

  </div><!-- .mm-page -->

  {% include 'newsletter-popup' %}
  {% include 'currencies' %}
  {% include 'footer-tracking' %}
  {% comment %}{% include 'criteo-tracking' %}{% endcomment %}
  {% include 'versatag' %}
  {% include 'impact-radius-container-tag' %}
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">

    console.log('{{ template }}');

    var _learnq = _learnq || [];

    _learnq.push(['account', 'dMVj7v']);

    (function () {
    var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
    b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
    var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
    })();
  </script>
</body>
</html>
