{% assign my_content = page.content | split: '<!-- split -->' %}
<div class="section typeset standardpage reebok-landing-page">
	<div class="rte landing-container">
		<div class="hero-banner">
			{{my_content[0]}}
		</div>
		<div class="middle-container">
			<span class="left-container">
				<div class="image-wrap two-img">
					<div>{{ my_content[1] }}</div>
					<div>{{ my_content[2] }}</div>
				</div>
				<div class="image-wrap one-img">
					<div>{{ my_content[3] }}</div>
				</div>
			</span>
			<div class="right-container">
				<div class="image-wrap vertical-img">
					<div>{{ my_content[4] }}</div>
				</div>
			</div>
		</div>	
		<div id="reebok-signup-form" class="sweepstakes-form">
			<div class="signup-logos">
				{{ my_content[5] }}
			</div>
			<div class="enter-fields">
					{{ my_content[6] }}
				<div class="form-container">
					<form id="email_signup_reebok" class="klaviyo_style klaviyo_standard_embed_jMbjpF" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
					  <input type="hidden" name="g" value="jMbjpF">
					  <div class="klaviyo_field_group">
					    <div class="mc-field-group mc-field-group-name">
							<label class="klaviyo_form_actions" for="mce-NAME">NAME:  <span class="asterisk">*</span>
						</label>
							<input type="text" value="" name="NAME" class="required name" id="NAME" required="required" placeholder="Your Name">
						</div>
						<div class="mc-field-group-dob">
						    <label class="klaviyo_form_actions" for="mce-MMERGE2-month">DOB: <span class="asterisk">*</span></label>
						    <div class="datefield klaviyo_form_actions">
								<span class="subfield monthfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="k5d483d8b8608452e13aa15a90d59188f" id="id_k5d483d8b8608452e13aa15a90d59188f"></span> /
								<span class="subfield dayfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="k730299b7f3feeb031be622f3df570953" id="id_k730299b7f3feeb031be622f3df570953"></span> /
								<span class="subfield yearfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="k472349b96aac4a6f947a5682ee41140d" id="id_k472349b96aac4a6f947a5682ee41140d"></span>
						        <span class="small-meta nowrap"></span>
							</div>
						</div>
						<div class="mc-field-group">			
							<label class="klaviyo_form_actions" for="k_id_email">EMAIL: <span class="asterisk">*</span></label>
					    	<input type="email" value="" name="email" id="k_id_email" placeholder="Your email please..." />
						</div>
					  <div class="mc-field-group abc klaviyo_form_actions">
						<input id="id_k77b58896506e940eeef9cef80443cf49_0" name="k77b58896506e940eeef9cef80443cf49" type="checkbox" value="Yes" class="def" checked="checked" required="required">
						<label for="id_k77b58896506e940eeef9cef80443cf49_0" class="control-label ghi">I agree to receive emails from Reebok</label>
					  </div>
                        
					  </div>
					  <div class="klaviyo_messages">
					    <div class="success_message" style="display:none;">Thanks for Signing Up!</div>
					    <div class="error_message" style="display:none;"></div>
					    </div>
					  <div class="klaviyo_form_actions">
					    <button type="submit" class="klaviyo_reebok_submit_button">Submit</button>
					  </div>
					</form>
					<style type="text/css">
					.abc {
                      margin-bottom: 15px !important;
					}
					.def {
                      float: none !important;
                      display: inline-block !important;
					}
					.ghi {
                      line-height: 17px !important;
                      display: inline-block !important;
                      float: none !important;
					}                      
					.klaviyo_styling.klaviyo_standard_embed_jMbjpF,
					.klaviyo_condensed_styling.klaviyo_standard_embed_jMbjpF {
					  font-family: inherit;
					}.klaviyo_styling.klaviyo_standard_embed_jMbjpF label,
					.klaviyo_condensed_styling.klaviyo_standard_embed_jMbjpF label {
					  
					}.klaviyo_styling.klaviyo_standard_embed_jMbjpF input[type=text],
					.klaviyo_styling.klaviyo_standard_embed_jMbjpF input[type=email],
					.klaviyo_condensed_styling.klaviyo_standard_embed_jMbjpF input[type=text],
					.klaviyo_condensed_styling.klaviyo_standard_embed_jMbjpF input[type=email] {
					  border-radius: undefined;
					}.klaviyo_styling.klaviyo_standard_embed_jMbjpF .klaviyo_submit_button,
					.klaviyo_condensed_styling.klaviyo_standard_embed_jMbjpF .klaviyo_submit_button {
					  
					  border-radius: undefined;
					}.klaviyo_styling.klaviyo_standard_embed_jMbjpF .klaviyo_submit_button:hover,
					.klaviyo_condensed_styling.klaviyo_standard_embed_jMbjpF .klaviyo_submit_button:hover {
					  
					}
					.klaviyo_style {
						max-width: inherit;
					}
					.klaviyo_reebok_submit_button {
						background: #3333c4;
					}
					</style>
					<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
					<script type="text/javascript">
					  KlaviyoSubscribe.attachToForms('#email_signup_reebok', {
					    hide_form_on_success: true,
					    custom_success_message: true
					  });
					</script>
				</div>
			</div>
		</div>
		<div class="bottom-container">
			{{ my_content[7] }}
			{% assign calendarInvite = 'http://www.google.com/calendar/render?action=TEMPLATE&text=Game+Day+Dapper+Pop-Up+Shop&dates=20160204/20160208&details=Meet+us+in+San+Francisco+on+Game+Day!&location=1+Columbus+Ave+,+San+Francisco,+CA+94111&sf=true&output=xml' %}
			{% comment %}<a class="event-invite" href="{{ calendarInvite }}" target="_blank">{{ my_content[8] }}</a>	{% endcomment %}
			<a class="event-invite" href="/pages/sanfran">{{my_content[8]}}</a>
		</div>
	</div>
</div>


{% comment %}<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>{% endcomment %}

<script type='text/javascript'>
// (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='date';}(jQuery));var $mcj = jQuery.noConflict(true);
</script>

<script type='text/javascript'> 
 // $(document).ready(function(){
 // 	$('.klaviyo_reebok_submit_button').click(function(){
 // 		$('.success-message').css({"display":"block"});
 // 		$('.success-message').css({"font-size":"1.2rem"});
 // 		$('.success-message').text('Thanks for Subscribing!');
 // 	});
 // });
  // 	var $form = $('#email_signup_reebok');

  // 	$('.klaviyo_submit_button').click(function(event){
	 //  	if (event) event.preventDefault();
	 //  	console.log('submit caught');
	 //  	console.log('form data:');
	 //  	console.log($form.serialize());
	 //  	register($form);
  // 	});


  // function register($form) {
  // 		$.ajax({
	 //      type: $form.attr('method'),
	 //      url: $form.attr('action'),
	 //      data: $form.serialize(),
	 //      cache: false,
	 //      dataType    : 'json',
	 //      contentType: "application/json; charset=utf-8",
	 //      error       : function(err) { 
	 //      	alert("Could not connect to the registration server."); 
	 //        console.log(err);
	 //      },
	 //      success     : function(data) {
	 //          console.log(data);
	 //          var success_message = data.msg;

	 //          if (data.result != "success") {
	 //              // Something went wrong, parse data.msg string and display message
	 //              alert(success_message);
	 //          } else {
	 //              // It worked, so hide form and display thank-you message.
	 //              $('.enter-fields').html('Please check your Inbox for a confirmation email.');
	 //              $('.enter-fields').css({"text-align":"center"});
	 //              $('.enter-fields').css({"font-size":"1.2rem"});
	 //          }
	 //      }
	 //  });
  // }

 </script>


<script>
$('#id_k77b58896506e940eeef9cef80443cf49_0').click( function(event){event.preventDefault()} );
</script>