{% comment %}
Banner
{% endcomment %}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="columns sixteen">
        <div>
          <img src="{{ 'press-banner.jpg' | asset_url }}" alt="">
          <h1>Making Waves</h1>
        </div>
      </div><!-- .columns -->
    </div><!-- .row -->

  </div><!-- .container -->
</section><!-- .banner -->

{% comment %}
Press Clippings - Above the Fold
{% endcomment %}
<section class="press-clippings">

  {% comment %} Row of Three {% endcomment %}
  <div class="row of-three">
    <div class="col">
      <a href="http://www.mensfitness.com/life/entertainment/game-changers-2014-kevin-lavelle" target="_blank">
        <img src="{{ 'press-mens-fitness.png' | asset_url }}" alt="">
        <p>
          &quot;[Mizzen+Main's] concept is so simple and brilliant, it's almost frustrating that it hadn't existed before.&quot;
        </p>
      </a>
    </div>
    <div class="col">
      <a href="http://www.nytimes.com/2013/12/19/fashion/a-no-sweat-work-shirt-no-sweat.html" target="_blank">
        <img src="{{ 'press-the-new-york-times.png' | asset_url }}" alt="">
        <p>
          &quot;The latest evolution of the men's work shirt.&quot;
        </p>
      </a>
    </div>
    <div class="col">
      <a href="http://www.adweek.com/news/advertising-branding/how-0-marketing-budget-bought-fortune-athlete-endorsements-165652" target="_blank">
        <img src="{{ 'press-adweek.png' | asset_url }}" alt="">
        <p>
          &quot;It's no surprise that a handful of NBA and NFL stars got turned on to [Mizzen+Main] when it launched in 2012.&quot;
        </p>
      </a>
    </div>
  </div><!-- .row.of-three -->

  {% comment %} Row of Two {% endcomment %}
  <div class="row of-two">
    <div class="col">
      <a href="http://www.inc.com/graham-winfrey/how-this-fashion-startup-got-mark-cuban-to-switch-brands.html" target="_blank">
        <img src="{{ 'press-inc.png' | asset_url }}" alt="">
        <p>
          &quot;Mizzen+Main is building an impressive list of celebrities who are trading their starched cotton dress shirts for the company's stretch-knit button-downs.&quot;
        </p>
      </a>
    </div>
    <div class="col">
      <a href="http://www.esquire.com/style/advice/a28055/mizzen-main-shirts-0314/" target="_blank">
        <img src="{{ 'press-esquire.png' | asset_url }}" alt="">
        <p>
          &quot;A dress shirt that makes you look completely confident ultimately makes you feel completely confident, no matter what your day may have in store for you.&quot;
        </p>
      </a>
    </div>
  </div><!-- .row.of-two -->

  {% comment %} Row of Three {% endcomment %}
  <div class="row of-three">
    <div class="col">
      <a href="" target="_blank">
        <img src="{{ 'press-wsj.png' | asset_url }}" alt="">
        <p>
          &quot;The shirts are tailored and professional, looking as good as upscale brands like Brooks Brothers but feeling like Nike Dri-Fit or other quality athletic jerseys.&quot;
        </p>
      </a>
    </div>
    <div class="col">
      <a href="http://www.glamour.com/fashion/blogs/dressed/2013/12/fashion-news-the-dress-shirt-t.html" target="_blank">
        <img src="{{ 'press-glamour.png' | asset_url }}" alt="">
        <p>
          &quot;This is such a great idea, we sort of can't believe no one thought of it before.&quot;
        </p>
      </a>
    </div>
    <div class="col">
      <a href="http://www.fastcompany.com/3017822/most-creative-people/so-long-pit-stains-this-performance-dress-shirt-eliminates-your-sweat-p" target="_blank">
        <img src="{{ 'press-fast-company.png' | asset_url }}" alt="">
        <p>
          &quot;Mizzen+Main may just solve a sweating problem for the next generation of stressed-out congressional staffers and countless others who have to dress up, even in the heat.&quot;
        </p>
      </a>
    </div>
  </div><!-- .row.of-three -->

</section>


<a class="read-more">read full articles</a>

<div class="old-grid-wrapper" style="display:none;">

  <table class="mentions">
  <tbody>

  <tr>
    <td>
      <a href="http://www.esquire.com/style/advice/a28055/mizzen-main-shirts-0314/" target="_blank"><img alt="" src="//cdn.shopify.com/s/files/1/0163/4002/files/Esquire-Logo_18951adc-3349-46ed-98f4-e12b57602c94_medium.png?6750" /></a>
    </td>
    <td>
      <a href="http://blogs.wsj.com/accelerators/2013/04/14/kevin-lavelle-web-smith-weekend-read-e-commerce-3-0/" target="_blank" title="Mizzen+Main Wall Street Journal Ecommerce 3.0"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/WallStreetJournal-logo_medium.jpg?1250" alt="" /></a>
    </td>
    <td>
      <a href="http://www.fastcompany.com/3017822/most-creative-people/so-long-pit-stains-this-performance-dress-shirt-eliminates-your-sweat-p" title="Fast Company Mizzen+Main Mizzen And Main Innovative Dress Shirts Moisture Wicking Dress Shirt" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Fast-Company-logo_medium.png?3066" alt="" /></a>
    </td>
    <td>
      <a href="http://www.nytimes.com/2013/12/19/fashion/a-no-sweat-work-shirt-no-sweat.html" title="Mizzen+Main New York Times" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/The_New_York_Times_logo_medium.png?4603" /></a>
    </td>
    <td>
      <a href="http://www.menshealth.com/style/how-be-best-dressed-holiday-party" title="Men's Health Mizzen+Main Style Guide" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/12.10_Mens-Health-logo.jpg_medium.jpeg?4457" /></a>
    </td>
    <td><a href="http://www.adweek.com/news/advertising-branding/how-0-marketing-budget-bought-fortune-athlete-endorsements-165652"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/imgres_large.jpg?13297146118126245809"/></a></td>
  </tr>
  <tr>
    <td>
      <a href="http://network.details.com/post/last-minute-fashion4good-gift-guide" title="Details Magazine Columbus Ohio" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/details_magazine_logo_medium.png?4457" /></a>
    </td>
    <td>
      <a href="http://www.mensfitness.com/life/entertainment/game-changers-2014-kevin-lavelle" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/logo_medium.jpg?6715" /></a>
    </td>
    <td>
      <a href="http://www.forbes.com/sites/theyec/2013/08/20/no-innovation-for-old-men/" target="_blank" title="Mizzen+Main Forbes No Innovation for Old Men"><img class="mention" src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.13.30_PM_medium.png?1222" alt="" /></a>
    </td>
    <td>
      <a href="http://www.wwd.com/retail-news/retail-features/super-bowl-xlviii-big-game-big-crowd-big-money-7361199" title="Mizzen+Main Women's Wear Daily" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/wwd_logo_Black_medium.jpg?4706"></a>
    </td>
    <td>
      <a href="http://www.mizzenandmain.com/blogs/news/7159950-featured-under-30-ceo" target="_blank"><img class="mention" src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.13.48_PM_medium.png?1222" alt="" /></a>
    </td>
    <td>
      <a href="http://www.inc.com/graham-winfrey/how-this-fashion-startup-got-mark-cuban-to-switch-brands.html" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Inc-Magazine-Logo1_medium.jpg?6752" /></a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.entrepreneur.com/article/231580" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/entrepreneur-logo_medium.jpg?6751" /></a>
    </td>
    <td>
      <a href="http://www.golfdigest.com/story/a-woven-dress-shirt-you-could"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/images-1_large.png?5130008030737048997"/></a>
    </td>
    <td>
      <a href="http://www.glamour.com/fashion/blogs/dressed/2013/12/fashion-news-the-dress-shirt-t.html" title="Mizzen+Main Glamour Magazine" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/glamour-magazine-logo-2_medium.png?4604" /></a>
    </td>
    <td>
      <a href="http://shoptalk.dmagazine.com/2012/07/19/new-dallas-based-mizzenmain-moisture-wicking-dress-shirts-are-here/" target="_blank" title="Mizzen+Main D Magazine Dallas Men's Style"><img class="mention" src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.13.17_PM_medium.png?1222" alt=""></a>
    </td>
    <td>
      <a href="http://www.businessinsider.com/10-must-read-startup-tips-for-young-brands-gen-2013-4" target="_blank" title="Mizzen+Main Business Insider"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/bilogo_medium.png?1252" alt=""></a>
    </td>
    <td>
      <a href="http://www.dallasnews.com/business/retail/20140315-dallas-becomes-a-mini-hub-of-fashion-and-e-commerce-startups.ece" target="_blank"><img alt="" src="//cdn.shopify.com/s/files/1/0163/4002/files/dallas_morning_news_medium.png?6714"></a>
    </td>
  </tr>
  <tr>
  <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Reuters-Logo2_medium.jpg?6710"></td>
  <td><a href="https://www.openforum.com/articles/mizzen-main-dress-shirts-get-a-high-performance-makeover/" target="_blank" title="Mizzen+Main American Express OPEN Forum"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Amex-OPEN-Forum_medium.png?2786" alt=""></a></td>
  <td><a href="http://dallas.culturemap.com/news/fashion/fashion-better-fit-no-sweat-mizzen-main-revolutionizes-dress-shirts-for-men/" target="_blank"><img class="mention" src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.13.43_PM_medium.png?1222" alt=""></a></td>
  <td><a href="http://www.nbcdfw.com/video/#!/the-scene/fashion/No-Sweat--No-Wrinkle-Dress-Shirts/163786966" target="_blank"><img class="mention" src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.12.13_PM_medium.png?1222"></a></td>
  <td><a href="http://www.bizjournals.com/dallas/print-edition/2013/07/19/kevin-lavelle-saw-a-chance-to-build-a.html"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/imgres-1_large.jpg?4533840249607250334"></a></td>
  <td><a href="http://www.newsday.com/business/press-releases/innovative-men-s-retailer-mizzen-main-launches-flagship-store-1.6554251" title="Newsday Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/nd-logo_medium.png?4468" /></a></td>
  </tr>
  <tr>
  <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/6143_medium.png?6714"></td>
  <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-09-21_at_5.32.24_PM_medium.png?3325" alt=""></td>
  <td><a href="http://bowtiesandboatshoes.com/?s=+mizzen%2Bmain&amp;x=0&amp;y=0" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/bowtiesboatshoes_medium.jpg?1574" alt=""></a></td>
  <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/YEC_stand-alonelogo_medium.png?1576" alt=""></td>
  <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/InsideHook_logo_medium.png?6756"></td>
  <td><a href="http://www.mrketshow.com/vanguards-gallery/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Vanguards-Gallery-Logo_medium.jpg?2604" alt="" /></a></td>
  </tr>
  <tr>
  <td><a href="http://www.papercitymag.com/Article/5706/Change-of-a-Dress-(Shirt)/" target="_blank" title="Paper City Dallas Mizzen+Main"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/PaperCityLogoSm_medium.png?2758" alt="" /></a></td>
  <td><a href="http://gearpatrol.com/2013/12/09/today-gear-december-9-2013/" title="Gear Patrol Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Gearatrol_Logo.jpg_medium.jpeg?4467" /></a></td>
  <td><a href="http://www.modernluxury.com/modern-luxury-dallas/articles/postmodern-gent" title="Mizzen+Main Modern Luxury" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.13.24_PM_medium.png?4457" /></a></td>
  <td><a href="http://issuu.com/bjifashiongroup/docs/mrketny_july13_final?e=3336831/3715528" title="MRket News Vanguards Gallery Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-09-21_at_6.05.12_PM_medium.png?3326" alt=""></a></td>
  <td><a href="http://www.bizjournals.com/columbus/blog/2013/12/online-dress-shirt-retailer-mizzen.html" title="Columbus Business First" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Columbus-Business-First.jpg_medium.jpeg?4469" /></a></td>
  <td><a href="http://blueperk.tumblr.com/page/4" title="Blue Perk Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/BLUEPERK_zps01bd868e_medium.png?4472" /></a></td>
  </tr>
  <tr>
  <td><a href="http://www.columbusalive.com/content/blogs/thelatest/2013/12/new-innovative-mens-lifestyle-store-opens-in-the-short-north.html" title="Columbus Alive Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/ColumbusAlive.jpg_medium.jpeg?4470"></a></td>
  <td><a href="http://www.heraldtribune.com/article/20131104/ARTICLE/131109899" title="Sarasota Herald Tribune Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/heraldtribune_medium.jpg?4471" /></a></td>
  <td><a href="http://www.redclaysoul.com/?p=5472" title="Red Clay Soul Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/redclaysoullogo_medium.jpg?4473" /></a></td>
  <td><a href="http://hautechicago.com/index.php/hauteblog/74-lifestyle/technology/iphone/307-mizzen-main-leather-iphone-wallet" target="_blank"><img class="mention" src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.13.38_PM_medium.png?1222" alt="" /></a></td>
  <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/pevc-indicator-logo_medium.png?6702"></td>
  <td><a href="http://www.purewow.com/30days-holiday-gift-guide" title="Pure Wow Mizzen+Main" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/PureWow_Logo_Large_medium.png?4605" /></a></td>
  </tr>
  <tr>
  <td><a href="http://www.dispatch.com/content/stories/business/2014/01/03/mens-fashion-e-tailers-new-local-shop-displays-items-for-ordering.html" title="Mizzen+Main Columbus Dispatch" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/columbus-dispatch-logo-630x400_medium.gif?4684" /></a></td>
  <td><a href="http://veterans.nbcnews.com/a-start-up-committed-to-helping-vets/" title="Mizzen+Main NBC News" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/nbc-news_medium.png?4691"></a></td>
  <td><a href="https://www.veooz.com/topic/mizzen+main.html" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/veooz_logo_medium.png?6702" /></a></td>
  <td><a href="http://digitalmedia.strategyeye.com/2014/08/29/mizzen_and_main_win_usd12m_for_new_shirt_range/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/20StrategyEye_medium.png?6703" /></a></td>
  <td><a href="http://www.crowdfundinsider.com/2014/08/47996-mizzenmain-originally-crowdfunded-kickstarter-closes-1-2-million-menswear-company/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/crowd_fun_insider_medium.jpg?6704" /></a></td>
  <td><a href="http://www.fashinvest.com/mizzenmain-rakes-1-2-million/" target="_blank"><img alt="" src="//cdn.shopify.com/s/files/1/0163/4002/files/fashinvest_medium.jpg?6714" /></a></td>
  </tr>
  <tr>
  <td><a href="http://fashionresourcenetwork.com/venture-investors-get-fashion-fever-as-early-stage-deals-soar/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/fashion_resource_network_medium.png?6707" /></a></td>
  <td><a href="http://www.finsmes.com/2014/08/mizzen-main-raises-1-2m-in-series-a-funding.html" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/finsmes1_medium.png?6708" /></a></td>
  <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/pinfofeed.com_medium.gif?6709" /></td>
  <td><a href="http://www.themetropreneur.com/columbus/mizzenmain-receives-1-2-million-investment/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/metro-logo_medium.png?6753" /></a></td>
  <td><a href="http://www.vcnewsdaily.com/mizzen%2Bmain/venture-capital-funding/pbnfzktrry" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/vc_news_daily_compact.jpg?6714" /></a></td>
  <td><a href="http://www.xconomy.com/texas/2014/08/29/mizzenmain-receives-1200000-series-a-funding/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Xconomy-logo1_medium.jpg?6712" /></a></td>
  </tr>
  <tr>
    <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/strictly_vc_medium.jpg?6713" /></td>
    <td><a href="http://upstart.bizjournals.com" target="_blank"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/upstart_medium.jpg?6714" /></a></td>
    <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/logo-2x_medium.png?1256" alt=""></td>
    <td><img src="//cdn.shopify.com/s/files/1/0163/4002/files/logo_medium.png?1254" alt=""></td>
    <td><a href="http://www.sumoskinny.com/story/national/8373/his/mizzenmain-releases-first-moisture-wicking-sports-inspired-dress-shirt-every"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.12.27_PM_medium.png?6714"></a></td>
    <td><a href="http://www.columbusunderground.com/mizzenmain-open-short-north-retail-store"><img alt="" src="//cdn.shopify.com/s/files/1/0163/4002/files/columbusunderground_medium.png?6754" /></a></td>
  </tr>
  <tr>
    <td class="hide-small"></td>
    <td class="hide-small"></td>
    <td><img class="mention" src="//cdn.shopify.com/s/files/1/0163/4002/files/Screen_Shot_2013-04-21_at_2.13.33_PM_medium.png?1222" alt=""></td>
    <td><a href="http://www.ecommerceinfluence.com/wp-content/uploads/2015/05/72-mizzen-mains-kevin-lavelle-experiencing-the-tim-ferriss-effect-how-to-get-1-2-mil-in-funding.pdf"><img src="//cdn.shopify.com/s/files/1/0163/4002/files/images_large.png?3962757641416561644"></a></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
  </table>
</div><!-- .old-grid-wrapper -->



<script>
$(document).on('click', 'a.read-more', function(event) {
  event.preventDefault();
  $('a.read-more').fadeOut();
  // $('.press-clippings').fadeOut( function() {
  //   $('.old-grid-wrapper').fadeIn();
   $('.old-grid-wrapper').fadeIn();
});
</script>