{% comment %}
Top Section: Gallery and Product Details
{% endcomment %}
<div class="product-{{ product.id }} product-wrapper-{{ product.id }}">
  <div class="row top-wrapper" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

    {% comment %}
    Left Column - Product Gallery
    {% endcomment %}
    <div class="columns left gallery">
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

      <div class="flexslider product_gallery product-{{ product.id }}-gallery {% if product-images == blank %}product_slider{% endif %} {% if settings.product_thumbs == false %}animated fadeInUp{% endif %}">
        <ul class="slides">
          {% for image in product.images %}
            <li data-thumb="{{ image | product_img_url: '1024x1024' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
              {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
                {% assign src = image.alt | split: 'src="' %}
                {% assign src = src[1] | split: '"' | first %}

                {% if src contains '?' %}
                  {% assign src = src | append: '&amp;autoplay=1' %}
                {% else %}
                  {% assign src = src | append: '?autoplay=1' %}
                {% endif %}

                <div class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
                  <div>
                    <a href="{{ src }}" class="fancybox fancybox.iframe" data-fancybox-group="{{ product.id }}" title="{{ product.title | escape }}">
                      {{ image.alt }}
                    </a>
                  </div>
                </div>
              {% else %}
                <a href="{{ image | product_img_url: 'master' }}" class="fancybox" data-fancybox-group="{{ product.id }}" title="{{ image.alt | escape }}">
                  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ image | product_img_url: '1024x1024' }}" data-src-retina="{{ image | product_img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250" class="cloudzoom {% if featured_image.id == image.id %}featured_image{% endif %}" />
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div><!-- .flexslider -->
    </div>

    {% comment %}
    Right Column - Product Form
    {% endcomment %}
    <div class="columns right product-form">
      {% comment %}
      Title Row
      {% endcomment %}
      <div class="row title a">
        {% assign h1 = '' %}
        {% assign h3 = '' %}
        {% assign a = product.title | split: '"' %}

        {% if a.size == 3 %}
          {% assign h1 = a[1] %}
          {% assign h3 = a[2] %}
        {% else %}
          {% assign h1 = product.title %}
        {% endif %}

        <div class="columns left">
          <h1>{{ h1 }}</h1>
        </div>
        <div class="columns right">
          {% if collection %}
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" class="ss-icon prev">&#x25C5;</a>
            {% endif %}
            {% if collection.next_product %}
              <a href="{{ collection.next_product }}" class="ss-icon next">&#x25BB;</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="row title b">
        <div class="columns">
          <h3>{{ h3 }}</h3>
          <div class="price"><span class="current">{{ product.selected_or_first_available_variant.price | money | replace: '.00', '' }}</span><span class="compare_at">{{ product.selected_or_first_available_variant.compare_at_price | money | replace: '.00', '' }}</span></div>
        </div>
      </div><!-- .row.title -->

      {% comment %}
      Icons Row
      {% endcomment %}
      <div class="row icons">
        <div class="columns">
          <img src="{{ 'icon-moisture-wicking.png' | asset_url }}" alt="">
          <h4>Moisture Wicking</h4>
        </div>
        <div class="columns">
          <img src="{{ 'icon-machine-washable.png' | asset_url }}" alt="">
          <h4>Machine Washable</h4>
        </div>
        <div class="columns">
          <img src="{{ 'icon-four-way-stretch.png' | asset_url }}" alt="">
          <h4>Four Way Stretch</h4>
        </div>
        <div class="columns">
          <img src="{{ 'icon-superior-fit.png' | asset_url }}" alt="">
          <h4>Superior Fit</h4>
        </div>
      </div>

      {% comment %}
      Collection Info
      {% endcomment %}
      {% if product.type == 'Dress Shirt' and product.tags contains 'Spinnaker' %}
        <div class="row collection">
          <div class="columns">
            <h2>Spinnaker</h2>
            <p>The Spinnaker is a special type of sail that fills with wind, ballooning off a ship's bow. Constructed of a lightweight fabric, it is referred to as flying when deployed. Our advanced performance line embodies this spirit down to the smallest details with our highest stretch, moisture wicking properties, and zero hassle maintenance requiring no ironing or dry cleaning.</p>
          </div>
        </div>

      {% elsif product.type == 'Dress Shirt' and product.tags contains 'Leeward' %}
        <div class="row collection">
          <div class="columns">
            <h2>Leeward Collection</h2>
            <p>Leeward is downwind, on the calmer side of the vessel or island. The Leeward Collection has a more structured, traditional appearance. Despite this, it is crafted from a lighter weight fabric with superior quick dry properties, still maintains a four way stretch and of course never needs any dry cleaning.</p>
          </div>
        </div>
      {% endif %}

      {% comment %}
      Form Input Elements
      {% endcomment %}
      <form class="new_product_form" action="/cart/add" method="post" enctype="multipart/form-data">


        <div class="row no-margin">
          <div class="columns">
            <p id="buttonPlacement"></p>
          </div>
        </div>

        <div class="row inputs">
          <div class="columns options">
            <div id="product-variants" {% comment %}style="display:none;"{% endcomment %}>

              {% if product.options.size > 1 %}
                <select id="product-select-{{ product.id }}" name="id">
                  {% for variant in product.variants %}
                    {% unless variant.metafields.info.visibility contains 'hidden' %}
                      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
                    {% endunless %}
                  {% endfor %}
                </select>
              {% elsif product.options.size == 1 and (product.variants.size > 1 or product.options[0] != "Title") %}
                <label>{{ product.options[0] }}:</label>
                <select id="product-select-{{ product.id }}" name="id">
                  {% for variant in product.variants %}
                    {% unless variant.metafields.info.visibility contains 'hidden' %}
                      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
                    {% endunless %}
                  {% endfor %}
                </select>
              {% else %}
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              {% endif %}
            </div><!-- #product-variants -->
          </div>
          <div class="columns ssubmit">
            <a class="free-shipping">Free Shipping</a>
            <input class="add_product" type="submit" name="add" value="Add to Cart" data-product="{{ product.id }}">
          </div>
        </div><!-- .row.inputs -->

        <div class="row">
          <div class="columns">
            <div class="select-message"></div>
          </div>
        </div>
      </form>



      {% comment %}<div class="columns">{% endcomment %}
      {% include 'product-notify-me' %}
      {% comment %}</div>{% endcomment %}

      {% unless product.type contains 'Dress Shirt' %}
        <div class="row collection">
          <div class="columns">
            {{ product.description }}
          </div>
        </div>
      {% endunless %}



    </div><!-- .product-form -->

  </div><!-- .row.top-wrapper -->
</div><!-- .product-{{ product.id }} -->

{% comment %}
Extra Info
{% endcomment %}
<div class="row extra-info">



  {% if product.type contains 'Dress Shirt' %}

    <div class="columns left">
      <div class="row">
        <div class="columns">
          <h2>Fabric</h2>
          <p>
            <strong>Moisture Wicking</strong> Our unique fabric blend breathes better than cotton and keeps you cooler all day long.
          </p>
          <p>
            <strong>Four-way Stretch</strong> Performance fabric that's made to move with you.
          </p>
          <p>
            <strong>Wrinkle Resistant</strong> Our fabric naturally won't crease or wrinkle like traditional dress shirts and doesn't need to be ironed. They also don't need that harsh chemical treatment like other "non-iron" shirts out there.

          </p>
          <p>
            <strong>Low Maintenance</strong> Say goodbye to ironing and dry cleaning. Throw it in the washing machine and hang it up to dry. It's ready to wear in 16 minutes.
          </p>
        </div><!-- .columns -->
      </div><!-- .row -->
    </div><!-- .columns.left -->
    <div class="columns right">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            <strong>Trim Fit</strong> Trim Fit has a more tapered fit in on the torso with room in the chest and arms. They are not hipster skinny or a 90’s box cut..
          </p>
          <p>
            Not sure what size you are? Reference our <a class="ffancy" href="#size-chart"><strong>size chart</strong></a>.
          </p>
          <p>
            If you are between sizes, we recommend that you choose the size up.
          </p>
        </div>
      </div>
    </div>

  {% elsif product.type contains 'Pants' %}

    <div class="columns left">
      <div class="row">
        <div class="columns">
          <h2>Fabric</h2>
          <p>
            <strong>Moisture Wicking</strong> Our unique fabric blend breathes better than cotton and keeps you cooler all day long.
          </p>
          <p>
            <strong>Four-way Stretch</strong> Performance fabric that's made to move with you.
          </p>
          <p>
            <strong>Wrinkle Resistant</strong> Our fabric naturally won't crease or wrinkle like traditional chinos and do not need to be ironed. 

          </p>
          <p>
            <strong>Low Maintenance</strong> Say goodbye to ironing and dry cleaning. Throw it in the washing machine and hang it up to dry. 
          </p>
        </div><!-- .columns -->
      </div><!-- .row -->
    </div><!-- .columns.left -->
    <div class="columns right">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            <strong>Modern Athletic Cut</strong> Modern Athletic Cut has a superior fit to allow the most capable man to fit in and improved version of the versatile "slim straight" chino.  
          </p>
          <p>
            If you are in between sizes, we recommend that you choose the size up.
          </p>
          <p>
            All chinos come with a 37" unhemmed inseam to allow customers to get the perfect fit for themselves on length. We've ensured a fantastic fit through the waist and legs. Any tailor can do most any hem based on your style and preference! Please note, we are unable to accept returns on hemmed pants.
          </p>
        </div>
      </div>
    </div>

  {% elsif product.type contains 'Denim' %}
    <div class="columns left">
      <div class="row">
        <div class="columns">
          <h2>Fabric</h2>
          <p>
            <strong>Denim</strong> Completely organic in appearance, our denim is 99% reinforced cotton and 1% Mizzen+Main proprietary technology. It is the perfect appearance of classic American selvedge denim.
          </p>
        </div><!-- .columns -->
      </div><!-- .row -->
    </div><!-- .columns.left -->
    <div class="columns right">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            The first time you put these on they will be incredibly tight and wear in over the first few hours to an incredible fit and feel.
          </p>
          <p>
            The most advanced American-made denim on the market is now available to us gentlemen with able builds. Our modern athletic cut is different than the stretch denim that you've come to know.
          </p>
        </div>
      </div>
    </div>

  {% elsif product.handle == 'the-teams-memorial-t-shirt' %}
    <div class="columns left">
      <div class="row">
        <div class="columns">
          <h2>About</h2>
          <p>
            The story is simple. Patriotism is in our brand's DNA and we do more than talk about, we put our money to work. This shirt was created originally for the Navy SEAL Memorial Challenge, an athletic fundraiser that was held on May 24, 2014. The event benefits the Navy SEAL Foundation, a great organization who has authorized us to use their insignia in service to their team. The shirt lives on as an homage to the men of the Navy SEALS and continued fundraiser for this incredible organization supporting families of SEALs.
          </p>
        </div><!-- .columns -->
      </div><!-- .row -->
    </div><!-- .columns.left -->
    <div class="columns right">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            A cotton/poly blend | athlete cut | soft screen print at chest | machine wash cold, tumble dry medium.
          </p>
        </div>
      </div>
    </div>


  {% elsif product.handle == 'the-patriot-t-shirt' %}
    <div class="columns left">
      <div class="row">
        <div class="columns">
          <h2>About</h2>
          <p>
            This shirt was created for Marcus Luttrell's Lone Survivor Foundation. The LSF brings our military men and women into a safe environment where they and their families can heal together as they work through the consequences of war. "The Foundation is dedicated to honoring and remembering American service members by providing unique educational, rehabilitation, recovery, and wellness opportunities to U.S. Armed Forces members and their families."
          </p>
          <p>
            For every shirt that is sold, a donation will be made to the Lone Survivor Foundation.
          </p>
        </div><!-- .columns -->
      </div><!-- .row -->
    </div><!-- .columns.left -->
    <div class="columns right">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            A cotton/poly blend | athlete cut | soft screen print at chest | machine wash cold, tumble dry medium.
          </p>
        </div>
      </div>
    </div>

  {% elsif product.handle == 'the-teams-memorial-day-shirt-red' %}
    <div class="columns left">
      <div class="row">
        <div class="columns">
          <h2>About</h2>
          <p>
            The act of wearing red on Friday symbolizes "Remembering Everyone Deployed." The goal is to show support for our servicemen and servicewomen. As many know, patriotism is a large part of Mizzen+Main's foundation. Through several initiatives, our brand does more than talk-the-talk. Ten percent of each shirt sold will go directly to One Team One Fight.
          </p>
        </div><!-- .columns -->
      </div><!-- .row -->
    </div><!-- .columns.left -->
    <div class="columns right">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            A cotton/poly blend | athlete cut | soft screen print at chest | machine wash cold, tumble dry medium.
          </p>
        </div>
      </div>
    </div>


  {% elsif product.type == 'T-shirt' %}
    <div class="columns whole">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            A cotton/poly blend | athlete cut | soft screen print at chest | machine wash cold, tumble dry medium.
          </p>
        </div>
      </div>
    </div>

  {% else %}
    <div class="columns left">
      <div class="row">
        <div class="columns">
          <h2>Fabric</h2>
          <p>
            <strong>Moisture Wicking</strong> Our unique fabric blend breathes better than cotton and keeps you cooler all day long.
          </p>
          <p>
            <strong>Four-way Stretch</strong> Performance fabric that's made to move with you.
          </p>
          <p>
            <strong>Wrinkle Resistant</strong> Our fabric naturally won't crease or wrinkle like traditional dress shirts and doesn't need to be ironed. They also don't need that harsh chemical treatment like other "non-iron" shirts out there.

          </p>
          <p>
            <strong>Low Maintenance</strong> Say goodbye to ironing and dry cleaning. Throw it in the washing machine and hang it up to dry. It's ready to wear in 16 minutes.
          </p>
        </div><!-- .columns -->
      </div><!-- .row -->
    </div><!-- .columns.left -->
    <div class="columns right">
      <div class="row">
        <div class="columns">
          <h2>Fit</h2>
          <p>
            <strong>Trim Fit</strong> Trim Fit has a more tapered fit in on the torso with room in the chest and arms. They are not hipster skinny or a 90’s box cut..
          </p>
          <p>
            Not sure what size you are? Reference our <a class="ffancy" href="#size-chart"><strong>size chart</strong></a>.
          </p>
          <p>
            If you are between sizes, we recommend that you choose the size up.
          </p>
        </div>
      </div>
    </div>
  {% endif %}

</div><!-- .row -->

{% comment %}
Related Items
{% endcomment %}
{% assign col = '' %}



{% if collection and collection.all_products_count > 1 %}
  {% assign col = collection.handle %}
{% else %}
  {% assign col = product.collections.last.handle %}
{% endif %}

{% for tag in product.tags %}
  {% if tag contains 'meta-related-collection-' %}
    {% assign col = tag | remove: 'meta-related-collection-' %}
  {% endif %}
{% endfor %}

{% if col and collections[col].all_products_count > 0 %}
  {% include 'products-list', _collection_handle: col, _title: 'Related Products', _limit: 4 %}
{% endif %}

<div class="product-modals" style="display:none;">
  <div id="size-chart">
    <p><strong>Dress Shirts Size Chart:</strong></p>
    <ul>
      <li>Small* Neck 15-15.5" | Sleeve 32.5-33" | 5'8 | 150 lbs</li>
      <li>Medium* Neck 16-16.5" | Sleeve 33.5-34" | 5'10 | 180 lbs</li>
      <li>Large* Neck 16.5-17" | Sleeve 34.5-35" | 6'0 | 200 lbs</li>
      <li>X-Large Neck 17-17.5" | Sleeve 35.5-36" | 6'4 | 215 lbs (bigger cut in chest and arms)</li>
      <li>XX-Large Neck 18-18.5" | Sleeve 36-37" | 6'6 | 250+ lbs</li>
      <li>Medium Tall* 6'2 I 180lbs I 3" longer in sleeve and body</li>
      <li>Large Tall* 6'4 I 200lbs I 3" longer in sleeve and body</li>
    </ul>
  </div>
</div>

{% include 'product_template_js' %}

<script type='text/javascript'>
    try {
        var ch212 = ch212 || []; ch212['token'] = '4de414786ff340dca503409fd560b3ba'; ch212['ts'] = new Date().getTime();
        (function () {
            var ch = document.createElement('script'); ch.type = 'text/javascript'; ch.async = true;
            ch.src = '//script.clotheshor.se/widget/script?token=' + ch212['token'] + '&ts=' + ch212['ts'];
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ch, s);
        })();
    } catch (ex) { console.log(ex)}
</script>
