<div class="hidden">
  <div id="nav">
    <ul>
      {% comment %}
      {% for link in linklists[settings.main_linklist].links %}
        {% if linklists[link.handle] == empty %}
          <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
        {% else %}
          <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
            <ul>
              {% for link in linklists[link.handle].links %}
                {% if linklists[link.handle] == empty %}
                  <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                {% else %}
                <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                  <ul>
                    {% for link in linklists[link.handle].links %}
                      <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
      {% for link in linklists[settings.main_linklist].links %}
        <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
      {% endfor %}
      {% for link in linklists.shop.links %}
        <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        <li>
          <a href="/account" title="My Account {% if customer %}({{ customer.email }}){% endif %}">My Account</a>
        </li>
        {% if customer %}
          <li>
            {{ "Logout" | customer_logout_link }}
          </li>
        {% endif %}
      {% endif %}
      {% endcomment %}
      {% for link in linklists.mobile-navigation.links %}
        <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>

          {% assign sublinks_handle = link.title | handleize %}
          {% if linklists[sublinks_handle] %}
          <ul class="mm-nolistview">
            {% for link in linklists[sublinks_handle].links %}
              <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>

        </li>
        {% endif %}
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        <li>
          <a href="/account" title="My Account {% if customer %}({{ customer.email }}){% endif %}">My Account</a>
        </li>
      {% endif %}
    </ul>
  </div>



  <form action="/cart" method="post" id="cart">
    <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" data-cart-item-count="{{ cart.item_count }}">
      <li class="mm-subtitle"><a class="continue ss-icon" href="#cart">&#x2421;</a></li>

      {% if cart.item_count == 0 %}
        <li class="empty_cart">Your Cart is Empty</li>
      {% else %}
        {% for item in cart.items %}
          <li class="cart_item {% if forloop.last %}last_cart_item{% endif %}">
            <p class="mm-counter">
              <span class="ss-icon minus">&#x002D;</span>
              <input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
              <span class="ss-icon plus">&#x002B;</span>
            </p>
            <a href="{{ item.url }}">
              <div class="cart_image">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
              </div>
              <div class="item_title">{{ item.title }}</div>
              <strong class="price">{{ item.price | money }}</strong>
            </a>
          </li>
        {% endfor %}
        <li class="mm-label">
          <p class="mm-counter">{{ cart.total_price | money }}</p>
          <a href="/cart">
            <strong>Subtotal</strong>
          </a>
        </li>

        <li class="mm-subtitle clearfix">
          <p class="promotion">Use <strong>"MAINMAN3"</strong> at Checkout for $50 Off 3 Dress Shirts</p>
          {% if settings.display_special_instructions %}
            <textarea id="note" name="note" rows="2" placeholder="Note for {{ shop.name }}" class="clearfix">{{ cart.note }}</textarea>
          {% endif %}

          <a href="/checkout" class="action_button right checkout">Checkout</a>
          <a href="javascript:void(0)" class="action_button edit_cart right ccontinue">Continue</a>
        </li>
      {% endif %}
    </ul>
  </form>
</div><!-- .hidden -->