
  {% comment %} Row of Three {% endcomment %}
  <div class="row press">
    <div class="presscolumn">
      <a href="http://www.mensfitness.com/life/entertainment/game-changers-2014-kevin-lavelle" target="_blank">
        <div class="pressimage"><img src="{{ 'press-mens-fitness.png' | asset_url }}" alt=""></div>
        <p>
          &quot;[Mizzen+Main's] concept is so simple and brilliant, it's almost frustrating that it hadn't existed before.&quot;
        </p>
      </a>
    </div>
    <div class="presscolumn">
      <a href="http://www.nytimes.com/2013/12/19/fashion/a-no-sweat-work-shirt-no-sweat.html" target="_blank">
        <div class="pressimage"><img src="{{ 'press-the-new-york-times.png' | asset_url }}" alt=""></div>
        <p>
          &quot;The latest evolution of the men's work shirt.&quot;
        </p>
      </a>
    </div>
    <div class="presscolumn">
      <a href="http://www.adweek.com/news/advertising-branding/how-0-marketing-budget-bought-fortune-athlete-endorsements-165652" target="_blank">
        <div class="pressimage"><img src="{{ 'press-adweek.png' | asset_url }}" alt=""></div>
        <p>
          &quot;It's no surprise that a handful of NBA and NFL stars got turned on to [Mizzen+Main] when it launched in 2012.&quot;
        </p>
      </a>
    </div>
  </div><!-- .row.of-three -->

  {% comment %} Row of Two {% endcomment %}
  <div class="row press">
    <div class="presscolumn offset-by-one">
      <a href="http://www.inc.com/graham-winfrey/how-this-fashion-startup-got-mark-cuban-to-switch-brands.html" target="_blank">
        <img src="{{ 'press-inc.png' | asset_url }}" alt="">
        <p>
          &quot;Mizzen+Main is building an impressive list of celebrities who are trading their starched cotton dress shirts for the company's stretch-knit button-downs.&quot;
        </p>
      </a>
    </div>
    <div class="presscolumn">
      <a href="http://www.esquire.com/style/advice/a28055/mizzen-main-shirts-0314/" target="_blank">
        <img src="{{ 'press-esquire.png' | asset_url }}" alt="">
        <p>
          &quot;A dress shirt that makes you look completely confident ultimately makes you feel completely confident, no matter what your day may have in store for you.&quot;
        </p>
      </a>
    </div>
  </div><!-- .row.of-two -->

  {% comment %} Row of Three {% endcomment %}
  <div class="row press">
    <div class="presscolumn">
      <a href="" target="_blank">
        <img src="{{ 'press-wsj.png' | asset_url }}" alt="">
        <p>
          &quot;The shirts are tailored and professional, looking as good as upscale brands like Brooks Brothers but feeling like Nike Dri-Fit or other quality athletic jerseys.&quot;
        </p>
      </a>
    </div>
    <div class="presscolumn">
      <a href="http://www.glamour.com/fashion/blogs/dressed/2013/12/fashion-news-the-dress-shirt-t.html" target="_blank">
        <img src="{{ 'press-glamour.png' | asset_url }}" alt="">
        <p>
          &quot;This is such a great idea, we sort of can't believe no one thought of it before.&quot;
        </p>
      </a>
    </div>
    <div class="presscolumn">
      <a href="http://www.fastcompany.com/3017822/most-creative-people/so-long-pit-stains-this-performance-dress-shirt-eliminates-your-sweat-p" target="_blank">
        <img src="{{ 'press-fast-company.png' | asset_url }}" alt="">
        <p>
          &quot;Mizzen+Main may just solve a sweating problem for the next generation of stressed-out congressional staffers and countless others who have to dress up, even in the heat.&quot;
        </p>
      </a>
    </div>
  </div><!-- .row.of-three -->